@import 'swiper/css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base bg-white font-helvetica;
    @apply overflow-x-hidden;
  }

  .swiper-wrapper {
    @apply items-end;
  }

  ::selection {
    @apply bg-dark-green;
    @apply text-white;
  }

  input[type='checkbox'] {
    @apply m-0 w-6 h-6 border border-dark-green appearance-none cursor-pointer grid place-items-center transition focus:border-orange outline-none;
  }

  input[type='checkbox']::before {
    content: url('/icons/check.svg');
    @apply transition opacity-0 scale-0;
  }

  input[type='checkbox']:checked::before {
    @apply opacity-100 scale-100;
  }

  .scroll-visible {
    -ms-overflow-style: scrollbar; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }

  .scroll-visible::-webkit-scrollbar {
    display: block;
  }
}
